<div class="container viewP">
    <div class="wrapper">
        <div class="head">
            <div class="row">
                <div class="col-md-3 pic">
                    
                </div>
                <div class="col-md-4 info">
                    <h1>Jorge Ardon</h1>
                    <h4>Web Developer <span class="divide">|</span> Designer</h4>
                    <img class="flag" src="assets/cr.png" alt="Costa Rica"><h5>San Jose, Costa Rica</h5>
                </div>
                <div class="col-md-5">
                    <img src="assets/prof1.png" class="prof" alt="Jorge Ardon">
                </div>
            </div>
            <hr>
        </div>
        <div class="content text-center">
                <p> Front End Developer, graphic designer and solo traveler. I have a passion for high impact graphics and UI / UX design. 
                    Through the latest technologies, I am able to deliver professional, reliable and easily scalable web applications.
                </p>
                <br>
                <p> Bringing ideas to life is what gives me motivation. From the design stages all the way to production, I tackle each new
                    project with dedication, to deliver a clean, well documented and organized code.
                </p>
                <br>
                <p> Feel free to check out some of my work in the Portfolio section. If you have an idea and would like to discuss it further,
                    please visit the Contact section, I would love to hear from you!
                </p>
        </div>
        <div class="test text-center">
            
        </div>
        
    </div>
    <div class="techs text-center">
            <img src="assets/techs1.png" class="techsPic" alt="web dev technologies">
        </div>
</div>


