<div class="container viewP text-center">
  <div class="content">
    <h1 class="first">Web <span class="glyphicon glyphicon-tree-deciduous symb"></span> Graphic <span class="glyphicon glyphicon-tree-deciduous symb"></span> UI/UX Design</h1>
    <h1>Front End Web Development</h1>
    <h1>API <span class="glyphicon glyphicon-retweet symb"></span> Database Integration</h1>
    <hr>
    <h3>Helping small and medium businesses build their online presence and reach full potential.</h3>
  </div>
</div>

