h1 {
    font-size: 1.8em;
    font-family: 'Jura', sans-serif;
}

.symb {
    font-size: 0.6em;
    color: #ff5c05;
}

hr {
    height: 1px;
    width: 50%;
    color: rgba(255, 92, 5,0.2);
    background-color: rgba(255, 92, 5,0.1);
    border: none;
  }

.content {
      padding: 20px;
      border-radius: 10px;
      color: rgba(20,20,20,0.6);
      
  }

  .content .first {
    margin-top: 10%;
  }

  .content h3 {
    margin-top: 15%;
    color:#fff;
    font-family: 'Maven Pro', sans-serif;
  }

  @media only screen 
  and (min-width : 1224px) {
    h1 {
        letter-spacing: 6px;
        font-size: 3em;
    }

  }

  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 1100px) {
    .content {
        color: #c8c8c8;
        margin-top: 25%;
        background-color: rgba(20,20,20,0.9);
    }

  }